@import url("colors.css");
@font-face {
  font-family: Nunito;
  src: url(../fonts/Nunito/Nunito-Regular.ttf);
}
@font-face {
  font-family: OpenSans;
  src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: var(--text);
  font-family: Nunito;
}
p, p span{
  font-family: OpenSans;
  color: var(--text-2);
}
button {
  background-color: var(--button-background);
  border: none;
  border-radius: 4px;
  padding: 10px;
  color: white;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
}
nav button {
  box-shadow: none;
  display: inline;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.logo {
  font-size: 26px;

}
.content,
section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.three{
  grid-template-columns: 1fr 1fr 1fr [stop end];
  text-align: center;
}
.four{
  grid-template-columns: 1fr 1fr 1fr 1fr [stop end];
  text-align: center;
}
.section-header{
  text-align: center;
  grid-column-start: 1;
  grid-column-end: end;
}

.content div, section div{
  align-self: center;
  justify-self: center;
}

header {
  background-image: url("../img/hero-bg.png");
}
header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.text{
  background-color: rgb(244, 255, 255);
  padding: 30px;
}

h2 {
  font-weight: normal;
  font-size: 1.25rem;
  margin: 10px;
  margin-left: 0px;
}

section h1 {
  font-size: 0.8rem;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--cyanish);
}

section h2{
  font-size: 1.2rem;
  font-weight: bold;
}
.section-header h2{
  font-size: 1.8rem;
  font-weight: bold;
}
section.first{
  grid-template-rows: 500px;
  padding-bottom: 20px;
}

a {
  color: (--text);
  text-decoration: none;
  margin: 0px 10px 0px 10px;
}
a:hover{
  background-color: (--cyanish);
}

header, section, footer{
  padding: 0px 50px 10px 50px;
}
img {
  max-height: 100%;
  max-width: 100%;
}
button img, a img{
  width: 1rem;
  margin: 2px;
}
a:not(nav a) {
  display: flex;
  align-items: center;
}
.menu{
  display: none;
}
.second div:not(.section-header){
  padding :15px;
  border: 1px solid rgba(0, 0, 0, 0.089);
  height: 100%;
  width: 100%;
}
.second{
  column-gap: 50px;
}
.second img{
  width: 250px;
}
.first button{
  margin-top: 25px;
}
section{
  margin-top: 100px;
}
.third{
  column-gap: 10px;
}
.third img{
  height: 40px;
  padding-right: 10px;
}
.third b{
  font-size: 2rem;
}
.third > div{
  display: flex;
  text-align: left;
  padding: 10px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.082);
  height: 100%;
  width:100%;
}
.featuresgrid{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.featuresgrid div{
  padding: 20px 30px 20px 30px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.082);
  width: 100%;
  height: 100%;
}

.clients{
  display: block;
}
.clients div:not(.section-header){
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap:60px;
}
.clients div:not(.section-header) img{
  opacity: 0.6;
}
.sixth h1{
 font-size: 1.8rem;
 font-weight: bold;
 color:var(--text);
 text-transform: capitalize;
}
.seventh{
  gap: 20px;

}

.listed{
  grid-column-start: 2;
  grid-column-end: end;
  padding-left: 30px;
}
.listed ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  gap: 30px;
}
.listed h1{
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--text);
}
.listed li:nth-child(1){
list-style-image: url(../img/chart.png);

}
.listed li:nth-child(2){
  list-style-image: url(../img/stack.png);
}
.listed li:nth-child(3){
  list-style-image: url(../img/brush.png);
}
.listed li:nth-child(4){
  list-style-image: url(../img/magic-wand.png);
}
.listed li:nth-child(5){
  list-style-image: url(../img/command-symbol.png);
}
.listed li:nth-child(6){
  list-style-image: url(../img/satellite-dish.png);
}

.eighth{
  gap: 10px;
}
.cyan a{
  color: var(--cyanish);
}
.orange a{
  color: var(--light-orange);
}
.green a{
  color: var(--light-green);
}
.red a{
  color: var(--redish);
}
.purple a{
  color: var(--purple-magenta);
}
.pink a{
  color: var(--pink);
}
.cyan div{
  background-color: #2db6fa67;
}
.orange div{
  background-color: #f68b0967;;
}
.green div{
  background-color: #08da4e67;
}
.red div{
  background-color: #e9222c67;
}
.purple div{
  background-color: #b50edf67;
}
.pink div{
  background-color: #f51f9c67;
}
.cyan {
  border-bottom: 2px solid var(--cyanish);
}
.orange {
  border-bottom: 2px solid var(--light-orange);
}
.green {
  border-bottom: 2px solid  var(--light-green);
}
.red {
  border-bottom: 2px solid var(--redish);
}
.purple {
  border-bottom: 2px solid  var(--purple-magenta);
}
.pink {
  border-bottom: 2px solid  var(--pink);
}
.cyan, .orange, .green, .red, .purple, .pink{
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.253);
  padding: 15px ;
  border-radius: 4px;

  
}
.eighth>div>div{
  display: flex;
  width: 60px;
  height: 60px;
  padding: 10px;
  background-blend-mode: lighten;
}
.cyan:hover, .orange:hover, .green:hover, .red:hover, .purple:hover, .pink:hover{
  border-bottom-width: 6px;
}

.ninth{
  width: 100%;
  column-gap: 1rem;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}
.ninth div:not(.section-header){
  padding :15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  margin: 0px;
}
.ninth div:not(.section-header) button{
  display:inline;
  background-color: white;
  color:var(--button-background);
  border-radius: 50px;
  border: 2px solid var(--button-background);
  box-shadow: none;
  width: 120px;
  margin: 10px;
}


.ninth h3 span {
  font-weight: lighter;
  opacity: 0.5;
  font-size: 1.1rem;
  color: var(--text-2);
}
.ninth h3 b, .ninth h3 sup{
  font-weight: bold;
  opacity: 1;
  font-size: 2rem;
  color: var(--text-2);
}
.ninth h3 sup{
  font-size: 1.1rem;
}
.ninth ul{
  list-style: none;
}
.ninth div:not(.section-header) h1{
  text-transform: capitalize;
  font-size: 1rem;
}
.free h1{
  color: var(--cyanish);
}
.starter h1{
  color: var(--light-green);
}
.business h1{
  color: var(--light-orange);
}
.ultimate h1{
  color: var(--pink);
}
s li{
  opacity: 0.5;
}


.tenth div{
  width: 100%;
}
.tenth p{
  border-bottom: 1px solid rgba(0, 0, 0, 0.336);
  width: 100%;
  padding: 1em;
}
.tenth div:not(.section-header){
  height: 100%;
}

.eleventh div{
  height: 100%;
  border-radius: 50px;
 
}

.eleventh img{
  margin-bottom: 10px;
}
.eleventh{
  column-gap: 40px;
}
.eleventh .name{
  color: var(--text);
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: bold;
}
.eleventh .job-position, .eleventh .description{
  font-weight:lighter;
  font-size: 0.9rem;
}
.eleventh .description{
  font-style: italic;
}
.custom-shape-divider-bottom-1648164673 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1648164673 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1648164673 .shape-fill {
  fill: #FFFFFF;
}
/*div:not(.section-header)*/
.twelfth {
  column-gap: 40px;
}

.twelfth div:not(.section-header){
  text-align: left;
  height:100%;
  width: 100%;
  border-radius: 10px;
}
.twelfth .date{
 font-size: 1rem;
 font-weight: lighter;
}
.twelfth .title{
  color:var(--text);
  text-transform: none;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.twelfth a{
  color:var(--button-background);
  margin: 30px 15px 10px 0px;
}
.thirteenth{
  column-gap: 30px;
  grid-template-columns:  minmax(0,1fr) minmax(0,1fr) [stop end]; 
}
.thirteenth .info{
  display: grid;
  grid-template-columns:  minmax(0,1fr) minmax(0,1fr); 
  
  gap: 10px;
}
.info>div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(244, 255, 255, 0.5);
  padding: 15px;
  
}
.info>div img{
  width: 30px;
}
.info h1{
  font-size: 1.2rem;
  color: var(--text);
  text-transform: capitalize;
  font-weight: bold;
}
.info p{
  font-size: 0.9rem;
}
.thirteenth div:not(.section-header){
  height:100%;
  width: 100%;
  
}
.thirteenth form{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;
  background-color: rgba(244, 255, 255, 0.5);
  padding: 40px;
}
.thirteenth input{
  height: 35px;
  width: 100%;
  padding: 5px;
}
.thirteenth form div{
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
}
.thirteenth textarea{
  height: 120px;
}

.thirteenth form .subject, .thirteenth form textarea{
  grid-column-start: 1;
  grid-column-end: 3;
}
.newsletter{
 padding: 40px;
 margin-top: 20px;
text-align: center;
  background-color: rgb(244, 255, 255) ;
}

.newsletter button{
  display: inline;
  height: 35px;
}
.newsletter input{
  height: 30px;
  width: 30vw;
}
.menu-icon{
  display: none;
}


footer{
  background-image: url(../img/footer-bg.png);
  height:250px;
  padding-top :40px;
  padding-bottom: 20px;
  margin-bottom:20px;
  background-position: right;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 0.25fr;
  column-gap: 1.5rem;
}
footer h1{
  font-size: 1rem;
  text-transform: uppercase;
}
footer p{
  font-size: 0.9rem;
  line-height: 1.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer ul li{
  margin: 0;
	padding: 5px 0 5px 10px;
  
	list-style: none;
	background-image: url("../img/next.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 10px;
}
footer ul {
  
  padding: 0;
 
}








@media only screen and (max-width: 768px){
  
  .extra{
    display: none;
  }
  nav{
    justify-content: space-around;
    width: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    flex-direction: column;
  }
  .nav-links{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .nav-links{
    display: none;
    order: 1;
  }
  .nav-links a{
    padding: 16px 0px 16px 10px;
    background-color: var(--text);
    color: white;
    border-bottom: 1px solid var(--cyanish);
    
  }
  
  .logo{
    justify-content: flex-start;
    align-items: center;
  }
  .third{
    display: none;
  }
  .second{
    column-gap: 10px;;
  }
  
  .listed{
    grid-column-start: 1;
  }
  .listed ul{
margin-left: 20px;
  }
 .seventh img, .sixth img{
    width: 60%;
    margin: 10px;
  }
  
  .ninth{
gap:10px;
  }
  .eleventh{
    column-gap: 5px;
  }
  
  .clients div:not(.section-header){
    column-gap: 20px;
  }
  header{
    padding-left: 0px;
  }
  header div{
    padding-left: 25px;
  }
  .content{
    padding-top: 90px;
  }
  .four{
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) [stop end];
  }
  .thirteenth form{
    padding: 10px;
  }
/*}
@media only screen and (max-width: 500px){*/
  .content, section{
    grid-template-columns: 1fr [stop end];
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 0px ;
  }
  .three{
    grid-template-columns: 1fr  [stop end];
    
    row-gap: 20px;
  }

  .twelfth{
    column-gap: 5px;
    
  }
  .twelfth div:not(.section-header){
    padding: 0px 20px 0px 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.253);
  }
  .thirteenth{
    row-gap: 30px;
    grid-template-columns:  minmax(0,1fr) [stop end]; 
    
  }
  .fifth img{
    display: none;
  }
  section{
    margin: 100px 0px 40px 0px;
  }
  .newsletter input{
    
    width: 45vw;
  }
  footer{
    
   height: fit-content; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0.5rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 0px ;
  } 
  footer>:first-child{
    grid-column-start: 1;
    grid-column-end: 4;
  }
  footer h1{
    font-size: 0.9rem;
    
  }
  .menu{
    display: block;
  }
  
}
@media only screen and (max-width: 375px){
  .four{
    grid-template-columns: 1fr  [stop end];
  }
  footer{
    display: block;
  }

}
.menu{
align-self: flex-start;

}
/*animated menu*/
label{
  display:flex;
   flex-direction:column;
   width:70px;
   cursor:pointer;
 }
 
 label span{
   background: var(--button-background);
   border-radius:10px;
   height:7px;
   margin: 7px 0;
   transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
 
 }
 
 
 span:nth-of-type(1){
   width:50%;
   
 }
 
 span:nth-of-type(2){
   width:100%;
 }
 
 
 span:nth-of-type(3){
   width:75%;
  
 }
 
 
 input[type="checkbox"]{
   display:none;
 }
 
 
 input[type="checkbox"]:checked ~ span:nth-of-type(1){
   transform-origin:bottom;
   transform:rotatez(45deg) translate(8px,0px)
 }
 
 
 input[type="checkbox"]:checked ~ span:nth-of-type(2){
   
   transform-origin:top;
   transform:rotatez(-45deg)
 }
 
 
 input[type="checkbox"]:checked ~ span:nth-of-type(3){
   
   transform-origin:bottom;
   width:50%;
   transform: translate(30px,-11px) rotatez(45deg);
 
 }
 

 #top{
   align-self: flex-end;
   
 }
 #top img{
   display: block;
 }
#top a{
  margin: 5px;
 
}
 #top button{
   padding: 0px;
   width: 30px;
   height: 30px;
   justify-content: center;
 }